.main-sobre {
    margin: 150px 0 350px 0;
    display: flex;
    flex-wrap: wrap;
    
    
}
  
.caricato {
    margin: 0 0 0 370px;
    transition: .6s;
    
    
}
  
.nome-p {
    width:  900px;
    margin: 115px 0 0 0;
    font-size: 70px;
    color: #0B090A;
    transition: .6s;
}
  
.nome-p h1 {
    margin: 0;
    
    
}
  
.nome-p p {
    margin: 10px 0 0 10px;
    font-size: 20px;
}
 
/* icones github e linkedin */

.icone-topo {
    z-index: 1000;
    display: flex;
    padding: 100px 0 0 0;
    gap: 20px;
    
}
  
#git-topo {
    width: 50px;
    height: 50px;
    padding-top: 15px;
    transition: .6s;
    
}
  
#git-topo:hover {
    width: 60px;
    height: 60px;
    transition: .5s;
    
}
  
#in-top {
    width: 80px;
    height: 80px;
    transition: .6s;
    
}
  
#in-top:hover {
    width: 90px;
    height: 90px;
    transition: .5s;
    
}

@media (max-width: 1680px){
    .caricato {
        margin: 0 0 0 15%;
        
        
    }
}

@media (max-width: 1440px){
    .caricato {
        margin: 0 0 0 8%;
        
    }
    
}

@media (max-width: 1024px){
    .caricato {
        margin: 0 0 0 12%;
        
    }
    .nome-p h1 {
        font-size: 137px;
        line-height: 0.8;
    }
    
    .nome-p p {
        
        font-size: 20px;
    }
    
    #in-top {
        width: 70px;
        height: 70px;
        transition: .6s;
        
    }
    #git-topo {
        width: 40px;
        height: 40px;
        padding-bottom: 10%;
        transition: .6s;
        
    } 

    .icone-topo {
        z-index: 1000;
        display: flex;
        padding: 7% 0 0 0;
        gap: 20px;
        
    }
}

@media (max-width: 375px){
    .caricato {
        margin: 10% 0 0 -5%;
        
    }
    .nome-p {
        padding: 0 0 0;
    }
    .nome-p h1 {
        font-size: 80px;
        line-height: 0.8;
        
    }
    
    .nome-p p {
        
        font-size: 15px;
    }
    
    #in-top {
        width: 60px;
        height: 60px;
        transition: .6s;
        
    }
    #git-topo {
        width: 35px;
        height: 35px;
        padding-bottom: 50%;
        transition: .6s;
        
    } 

    .icone-topo {
        z-index: 1000;
        display: flex;
        padding: 5% 0 0 5%;
        gap: 20px;
        
    }
}