#nav-bar {
  background-color: #161A1D;  
  height: 50px;
  color: aliceblue;

}

#nav-bar a {
  color: #F5F3F4;
  text-decoration: none;
}

/* botao hamburguer */

#btn-mobile {
  display: none;
}




/* botao jonas */
.nav-jonas {
  color: #F5F3F4;
  margin-top: 13px;
  border: none;
  background-color: transparent;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  font-size: large;
}

.nav-jonas span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nav-jonas span::after {
  content: "\1F680";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.nav-jonas:hover span {
  padding-right: 25px;
}

.nav-jonas:hover span::after {
  opacity: 1;
  right: 0;
}


/* botao portfolio */
.nav-portfolio {
  color:#F5F3F4 ;
  border: none;
  background-color: transparent;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  font-size: large;
}



.nav-portfolio span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.nav-portfolio span::after {
  content: "\1F4D5";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.nav-portfolio:hover span {
  padding-right: 25px;
  
}

.nav-portfolio:hover span::after {
  opacity: 1;
  right: 0;
}


/* botao sobre */
.nav-sobre {
  color:#F5F3F4 ;
  border: none;
  background-color: transparent;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  font-size: large;
}

.nav-sobre span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nav-sobre span::after {
  content: "\1F60E";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.nav-sobre:hover span {
  padding-right: 25px;
  
}

.nav-sobre:hover span::after {
  opacity: 1;
  right: 0;
}


/* botao interesse */
.nav-interesse {
  color:#F5F3F4 ;
  border: none;
  background-color: transparent;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  font-size: large;
}

.nav-interesse span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nav-interesse span::after {
  content: "\1F3B8";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.nav-interesse:hover span {
  padding-right: 25px;
  
}

.nav-interesse:hover span::after {
  opacity: 1;
  right: 0;
  
}


/* botao contato */
.nav-contato {
  color:#F5F3F4 ;
  font-size: large;
  border: none;
  background-color: transparent;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
}

.nav-contato span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nav-contato span::after {
  content: "\1F4ED";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.nav-contato:hover span {
  padding-right: 25px;
}

.nav-contato:hover span::after {
  opacity: 1;
  right: 0;
}


@media (max-width: 1680px) {
  #btn-mobile {
    display: block;
    
    

  }

  #nav-bar {
    display: flex;
    margin: 0 0 0 0;
    height: 50px;
    
  }
  #nav-3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    transition: .6s;
    height: 50px;
    right: 0px;
    top: 50px;
    visibility: hidden;
    overflow-y: hidden;
    
   
    
  }
  
  #nav-bar.active #nav-3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 100px;
      position: absolute;
      width: 100%;
      right: 0px;
      background: #161A1D;
      z-index: 1000;
      height: 500px;
      visibility: visible;
      overflow-y: hidden;
      
      
  }

  #btn-mobile  {
    display: flex;
    margin: 0 0 100px 78%;
    padding-top: 5px;
    border: none;
    background: none;
    font-size: large;
    cursor: pointer;
    gap: 10px;

  }

  #hamb {
      margin-top: 10px;
      width: 25px;
      border-top: 2px solid #F5F3F4 ;
  }

  #hamb::after, #hamb::before {
    content: "" ;
    display: block;
    width: 25px;
    height: 2px;
    background: #F5F3F4;
    margin-top: 5px;
    transition: .7s;
    position: relative;
  }

  #nav-bar.active #hamb {
    border-top-color:transparent ;
  }

  #nav-bar.active #hamb::before {
    transform: rotate(135deg);
  }

  #nav-bar.active #hamb::after {
    transform: rotate(-135deg);
    top:-7px;
  }
}

@media (max-width: 1440px){
  #btn-mobile {
    display: block;
    
    

  }

  #nav-bar {
    display: flex;
    margin: 0 0 0 0;
    height: 50px;
    
  }
  #nav-3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    transition: .6s;
    height: 50px;
    right: 0px;
    top: 50px;
    visibility: hidden;
    overflow-y: hidden;
    
   
    
  }
  
  #nav-bar.active #nav-3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 100px;
      position: absolute;
      width: 100%;
      right: 0px;
      background: #161A1D;
      z-index: 1000;
      height: 500px;
      visibility: visible;
      overflow-y: hidden;
      
      
  }

  #btn-mobile  {
    display: flex;
    margin: 0 0 100px 72%;
    padding-top: 5px;
    border: none;
    background: none;
    font-size: large;
    cursor: pointer;
    gap: 10px;

  }

  #hamb {
      margin-top: 10px;
      width: 25px;
      border-top: 2px solid #F5F3F4 ;
  }

  #hamb::after, #hamb::before {
    content: "" ;
    display: block;
    width: 25px;
    height: 2px;
    background: #F5F3F4;
    margin-top: 5px;
    transition: .7s;
    position: relative;
  }

  #nav-bar.active #hamb {
    border-top-color:transparent ;
  }

  #nav-bar.active #hamb::before {
    transform: rotate(135deg);
  }

  #nav-bar.active #hamb::after {
    transform: rotate(-135deg);
    top:-7px;
  }
}

@media (max-width: 1024px){
  #btn-mobile {
    display: block;
    
    

  }

  #nav-bar {
    display: flex;
    margin: 0 0 0 0;
    height: 50px;
    
  }
  #nav-3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    transition: .6s;
    height: 50px;
    right: 0px;
    top: 50px;
    visibility: hidden;
    overflow-y: hidden;
    
   
    
  }
  
  #nav-bar.active #nav-3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 100px;
      position: absolute;
      width: 100%;
      right: 0px;
      background: #161A1D;
      z-index: 1000;
      height: 500px;
      visibility: visible;
      overflow-y: hidden;
      
      
  }

  #btn-mobile  {
    display: flex;
    margin: 0 0 100px 55%;
    padding-top: 5px;
    border: none;
    background: none;
    font-size: large;
    cursor: pointer;
    gap: 10px;

  }

  #hamb {
      margin-top: 10px;
      width: 25px;
      border-top: 2px solid #F5F3F4 ;
  }

  #hamb::after, #hamb::before {
    content: "" ;
    display: block;
    width: 25px;
    height: 2px;
    background: #F5F3F4;
    margin-top: 5px;
    transition: .7s;
    position: relative;
  }

  #nav-bar.active #hamb {
    border-top-color:transparent ;
  }

  #nav-bar.active #hamb::before {
    transform: rotate(135deg);
  }

  #nav-bar.active #hamb::after {
    transform: rotate(-135deg);
    top:-7px;
  }
}
 

@media (max-width: 375px){
  .nav-jonas {
    margin-left: 0;
  }
  
  #btn-mobile {
    display: block;
    
    

  }

  #nav-bar {
    display: flex;
    margin: 0 0 0 0;
    height: 50px;
    
  }
  #nav-3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    transition: .6s;
    height: 50px;
    right: 0px;
    top: 50px;
    visibility: hidden;
    overflow-y: hidden;
    
   
    
  }
  
  #nav-bar.active #nav-3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 100px;
      position: absolute;
      width: 100%;
      right: 0px;
      background: #161A1D;
      z-index: 1000;
      height: 500px;
      visibility: visible;
      overflow-y: hidden;
      
      
  }

  #btn-mobile  {
    display: flex;
    margin: 0 0 100px 30%;
    padding-top: 5px;
    border: none;
    background: none;
    font-size: large;
    cursor: pointer;
    gap: 10px;

  }

  #hamb {
      margin-top: 10px;
      width: 25px;
      border-top: 2px solid #F5F3F4 ;
  }

  #hamb::after, #hamb::before {
    content: "" ;
    display: block;
    width: 25px;
    height: 2px;
    background: #F5F3F4;
    margin-top: 5px;
    transition: .7s;
    position: relative;
  }

  #nav-bar.active #hamb {
    border-top-color:transparent ;
  }

  #nav-bar.active #hamb::before {
    transform: rotate(135deg);
  }

  #nav-bar.active #hamb::after {
    transform: rotate(-135deg);
    top:-7px;
  }

}


  
